body, *{
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: whitesmoke;
}
#parent{
    position: relative;
}
#parent header{
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: 0px -1px 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#parent header img{
    width: 195px;
}
#parent header ul{
    display: flex;
    float: right;
    margin: 8px;
    padding: 0%;
}
#parent header ul a{
    text-decoration: none;
}
#parent header ul li{
    width: 15%;
    list-style: none;
    width: fit-content;
    height: fit-content;
    background: #0e4451;
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}
#parent header ul li:hover{
    width: inherit;
    height: inherit;
    background: #165666;
}
#main{
    width: 100%;
    height: fit-content;
    margin-top: 80px;
}
#main ul, *{
    margin: 0;
}
#main ul{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 35px;
    margin: 0;
    font-weight: bold;
    padding: 0%;
}
#main ul a{
    text-decoration: none;
    color: black;
}
#main ul li{
    list-style: none;
}
#main ul li:hover{
    color: #2FB46C;
}
#main hr{
    width: 95%;
    border: 1px solid #0e4451;
    margin: auto;
    margin-top: 20px;
}
#main h3{
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 24px;
}
#main div{
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
    margin: auto;
    margin-top: 30px;
    /* background-color: #0e4451; */

}
#main div a img{
    width: 22%;
    margin-left: 25px;
    margin-bottom: 30px;
    filter: grayscale(100%);
    transition: all 0.3s;
}
#main div a img:hover{
    filter: grayscale(0%);
}
#parent p{
    width: 90%;
    padding: 10px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
#parent footer{
    width: 100%;
    height: 60px;
    background-color: #0e4451;
    align-items: center;
    padding: 25px;
    margin-top: 30px;
    box-sizing: border-box;
    color: white;
}






/*----------------------------2nd Page---------------------------*/





#main h4{
    color: #2FB46C;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
#main .iipage{
    width: 70%;
    height: fit-content;
    margin: auto 30px;
    background-color: #5a6264;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
    display: none;
    float: left;

}
#main .iipage img{
    width: 30%;
}
#main .iipage p span{
    font-size: 34px;
    font-weight: bolder;
    color: #0e4451;
}
#main .iipage p{
    width: 65%;
    height: fit-content;
    text-align: left;
    font-weight: normal;
    margin-top: 1%;
}

#parent hr{
    width: 95%;
    border: 1px solid #0e4451;
    margin: auto;
    margin-top: 30px;
}
#mainII .mag_info{
    width: 40%;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    margin-right: 100px;
    margin-top: 30px;
    float: right;
}
#mainII .mag_info h3{
    font-size: 22px;
    text-align: center;
    color: #0e4451;
    margin-top: 20px;
}
#mainII .mag_info img{
    width: 40%;
    margin-top: 20px;
    margin-left: 30%;
}
#mainII .mag_info h4{
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
}
#mainII .mag_info p{
    font-size: 14px;
    text-align: justify;
    color: rgb(56, 56, 56);
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: normal;
}



#mainII .subscrip_info{
    width: 40%;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 30px;
    float: left;
}
#mainII .subscrip_info img{
    width: 85%;
    margin-top: 10px;
    margin-left: 7%;
    border-radius: 15px 15px 0 0;
}
#mainII section{
    width: 90%;
    height: fit-content;
    margin: auto;
    box-sizing: border-box;
    /* background-color: #2FB46C; */
    display: flex;
    justify-content: center;
}
#mainII section select{
    width: 60%;
    height: 30px;
    background-color: #0e4451;
    margin: 10px;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}
#mainII hr{
    margin-top: 10px;
    margin-bottom: 15px;
}
#mainII h6{
    margin-left: 30px;
    font-size: 14px;
    font-weight: normal;
}
#mainII h5{
    margin-left: 30px;
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
}
#mainII button{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #2FB46C;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}