#parent header img{
    width: 180px;
}
#parent header ul li{
    font-size: 14px;
}
#main ul li{
    font-size: 14px;
}
#main ul{
    display: none;
}
#main hr{
    display: none;
}
#main h3{
    font-size: 22px;
}
#main div{
    width: 90%;
}
#main div a img{
    width: 25%;
    margin-left: 50px;
    margin-bottom: 30px;
    filter: grayscale(100%);
    transition: all 0.3s;
}
#main div a img:hover{
    filter: grayscale(0%);
}
#parent p{
    font-size: 16px;
}
#parent footer h5{
    font-size: 14px;
}




/*----------------------------2nd Page---------------------------*/





#main h4{
    color: #2FB46C;
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
#main .iipage{
    width: 70%;
    height: fit-content;
    margin: auto 30px;
    background-color: #5a6264;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
    display: none;
    float: left;

}
#main .iipage img{
    width: 30%;
}
#main .iipage p span{
    font-size: 34px;
    font-weight: bolder;
    color: #0e4451;
}
#main .iipage p{
    width: 65%;
    height: fit-content;
    text-align: left;
    font-weight: normal;
    margin-top: 1%;
}
#main button{
    width: 95%;
}


#parent hr{
    width: 95%;
    border: 1px solid #0e4451;
    margin: auto;
    margin-top: 30px;
}
#mainII .mag_info{
    width: 40%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 15px;
    border-radius: 15px;
    margin-right: 70px;
    float: right;
}
#mainII .mag_info h3{
    font-size: 20px;
    text-align: center;
    color: #0e4451;
    margin-top: 20px;
}
#mainII .mag_info img{
    width: 40%;
    margin-top: 20px;
    margin-left: 30%;
}
#mainII .mag_info h4{
    font-size: 16px;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
}
#mainII .mag_info p{
    font-size: 14px;
    text-align: justify;
    color: rgb(56, 56, 56);
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: normal;
}
#mainII .subscrip_info{
    width: 40%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 70px;
    margin-top: 30px;
    float: left;
}
#mainII .subscrip_info img{
    width: 85%;
    margin-top: 10px;
    margin-left: 7%;
    border-radius: 15px 15px 0 0;
}
#mainII section{
    width: fit-content;
    height: fit-content;
    margin: auto;
}
#mainII section select{
    width: 60%;
    height: 30px;
    background-color: #0e4451;
    margin: 10px;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}
#mainII hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
#mainII h6{
    margin-left: 30px;
    font-size: 14px;
    font-weight: normal;
}
#mainII h5{
    margin-left: 30px;
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
}
#mainII button{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #2FB46C;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}
#mainII button:hover{
    background-color: #50dd92;
}