#body{
    background-color: whitesmoke;
}
#parent header img{
    width: 180px;
}
#parent header ul li{
    font-size: 14px;
}
#main ul li{
    font-size: 14px;
}
#main ul{
    font-size: 10px;
}
/* #main hr{
    display: none;
} */
#main h3{
    font-size: 22px;
}

#main div{
    width: 90%;
}
#main div a img{
    width: 25%;
    margin-left: 50px;
    margin-bottom: 30px;
    filter: grayscale(100%);
    transition: all 0.3s;
}
#main div a img:hover{
    filter: grayscale(0%);
}
#parent p{
    font-size: 16px;
}
#parent footer h5{
    font-size: 14px;
}






/*----------------------------2nd Page---------------------------*/






#main h4{
    font-size: 22px;
}
#mainII .mag_info h3{
    font-size: 20px;
}
#mainII .mag_info p span{
    font-size: 20px;
}
#mainII .mag_info p{
    font-size: 13px;
    margin-top: 25px;
}
.price .header{
    font-size: 20px;
}
#mainIII h2{
    font-size: 20px;
}





  /*--------------------------------3rd Page--------------------------------*/
  




.msg{
    font-size: 20px;
}
#mainIV{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.details{
    width: 60%;
    float: left;
}
.details h2{
    font-size: 20px;
}
.details .d_table tbody tr td label{
    font-size: 12px;
}
.details .d_table tbody tr td input{
    font-size: 12px;
}
.details img{
    width: 60%;
    margin-left: 20px;
}
.mag_pricing{
    width: 32%;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
.mag_pricing h4{
    font-size: 18px;
}
.mag_pricing h5{
    font-size: 16px;
}
.mag_pricing .tableII tbody tr td{
    font-size: 16px;
}
.mag_pricing .tableII .total{
    font-size: 16px;
}