body{
    background-color: whitesmoke;
}
#parent header{
    height: 50px;
}
#parent header img{
    width: 140px;
}
#parent header ul li{
    font-size: 8px;
}
#main ul li{
    font-size: 12px;
}
#main ul{
    display: none;
}
#main hr{
    display: none;
}
#main h3{
    font-size: 18px;
}
#main div{
    width: 90%;
}
#main div a img{
    width: 42%;
    margin-left: 25px;
    margin-bottom: 30px;
    filter: none;
    transition: all 0.8s;
}
#main div a img:hover{
    filter: none;
}
#parent p{
    font-size: 12px;
}
#parent footer h5{
    font-size: 12px;
}
#parent footer{
    height: 40px;
    padding: 12px;
}





/*----------------------------2nd Page---------------------------*/





#main h3{
    color: #2FB46C;
    font-size: 14px;
}
#main .iipage{
    width: 90%;
    height: fit-content;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
    display: block;
    justify-content: baseline;

}
#main .iipage img{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
#main .iipage p span{
    font-size: 20px;
    font-weight: bolder;
    color: #0e4451;
}
#main .iipage p{
    width: 90%;
    height: fit-content;
    text-align: center;
    font-weight: normal;
    margin-top: 0.5%;
}