body{
    background-color: whitesmoke;
}
#parent header{
    height: 50px;
}
#parent header img{
    width: 140px;
}
#parent header ul li{
    font-size: 8px;
}
#main ul li{
    font-size: 12px;
}
/* #main ul{
    display: none;
}
#main hr{
    display: none;
} */
#main h3{
    font-size: 18px;
}
#main div{
    width: 90%;
}
#main div a img{
    width: 42%;
    margin-left: 25px;
    margin-bottom: 30px;
    filter: none;
    transition: all 0.8s;
}
#main div a img:hover{
    filter: none;
}
#parent p{
    font-size: 12px;
}
#parent footer{
    height: 10px;
}
#parent footer h5{
    font-size: 10px;
}





/*----------------------------2nd Page---------------------------*/






#main h4{
    font-size: 20px;
}
#mainII .mag_info h3{
    font-size: 18px;
}
#mainII .mag_info img{
    width: 120px;
    height: 165px;
}
#mainII .mag_info p span{
    font-size: 16px;
}
#mainII .mag_info p{
    font-size: 8px;
    margin-top: 25px;
}
.price .header{
    font-size: 18px;
}
.price li{
    font-size: 12;
}
#mainIII h2{
    font-size: 18px;
}





  /*--------------------------------3rd Page--------------------------------*/
  




  .msg{
    font-size: 16px;
}
#mainIV{
    display: block;
}
.details{
    width: 95%;
    float: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.details h2{
    font-size: 20px;
}
.details .d_table tbody tr td label{
    font-size: 12px;
}
.details .d_table tbody tr td input{
    font-size: 12px;
}
.details img{
    width: 90%;
    margin-left: 20px;
}
.mag_pricing{
    width: 95%;
    float: none;
    margin-top: 0px;
    margin-right: 0px;
    margin: auto;
}
.mag_pricing h4{
    font-size: 16px;
}
.mag_pricing h5{
    font-size: 14px;
}
.mag_pricing .tableII tbody tr td{
    font-size: 14px;
}
.mag_pricing .tableII .total{
    font-size: 14px;
}