#parent header img{
    width: 170px;
}
#parent header ul li{
    font-size: 12px;
}
#main ul li{
    font-size: 12px;
}
#main section{
    display: none;
}
#main hr{
    display: none;
}
#main h3{
    font-size: 20px;
}
#main div{
    width: 90%;
}
#main div a img{
    width: 27%;
    margin-left: 25px;
    margin-bottom: 30px;
    filter: none;
    transition: all 0.8s;
}
#main div a img:hover{
    filter: none;
}
#parent p{
    font-size: 14px;
}
#parent footer h5{
    font-size: 12px;
}